@import url('//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-ligature-subset.css');

/* index page */
.index-page .notion-title {
  text-align: center;
  margin-top: -30px;
}

.index-page .notion-page-icon-wrapper {
  display: flex !important;
}

.index-page .notion-collection-card:hover {
  transition: all 0.2s ease-in-out;
  overflow: visible !important;
  transform: scale(1.01);
}

.index-page .notion-collection-card-body {
  padding-bottom: 4px;
}

.index-page .notion-collection-card-body .notion-property-date {
  text-align: right;
  display: block;
  margin-top: -4px;
}

/* notion-list-item */
.index-page .notion-list-item {
}

/* notion-list-item-title */
.index-page .notion-list-item .notion-list-item-title {
  flex: 1;
}
.index-page .notion-list-item .notion-list-item-title .notion-page-title-icon {
  margin: 2px 4px 0 0;
  min-width: 22px;
}
.index-page .notion-list-item .notion-list-item-title .notion-page-link {
}
.index-page .notion-list-item .notion-list-item-title .notion-page-title {
}
.index-page .notion-list-item .notion-list-item-title .notion-page-title-text {
  font-size: 13px;
}
@media only screen and (max-width: 370px) {
  .index-page
    .notion-list-item
    .notion-list-item-title
    .notion-page-title-text {
    max-width: 220px;
  }
}
@media only screen and (max-width: 320px) {
  .index-page
    .notion-list-item
    .notion-list-item-title
    .notion-page-title-text {
    max-width: 180px;
  }
}
@media only screen and (max-width: 290px) {
  .index-page
    .notion-list-item
    .notion-list-item-title
    .notion-page-title-text {
    max-width: 150px;
  }
}

/* notion-list-item-body */
.index-page .notion-list-item .notion-list-item-body {
}

.index-page .notion-list-item-property {
  display: flex;
}

.index-page .notion-list-item-property .notion-property-date {
  background-color: #eee;
  padding: 1px 5px;
  border-radius: 5px;
}

.dark-mode .index-page .notion-list-item-property .notion-property-date {
  background-color: #444;
}

/* common */
body {
  background-color: var(--bg-color);
}

.notion-page .notion-page-icon-wrapper {
  display: block;
}

.notion-header .button.notion-search-button {
  padding-right: 10px;
  margin-right: 10px;
}

.notion-page .notion-code > code {
  font-family: 'D2Coding', monospace;
  padding: 0;
}

.notion-page code.notion-inline-code {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 4px;
}

.dark-mode .notion-page code.notion-inline-code {
  background-color: rgba(0, 0, 0, 0.3);
}

ol.notion-list {
  padding-inline-start: 1.7em;
}

.breadcrumbs .breadcrumb.active {
  width: 100%;
  height: 100%;
  overflow: scroll;
  justify-content: flex-start;
}

.notion-callout {
  border-radius: 0 !important;
  border: none !important;
}
